@font-face {
    font-family: 'OPlusSans 3.0';
    src: url('../fonts/OPlusSans3-Medium.ttf'), url('../fonts/OPlusSans3-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

body {
    font-family: 'OPlusSans 3.0';
}

p {
    margin: 0px;
}

ul {
    list-style-type: none;
    margin-bottom: 0px;
    padding-inline-start: 0px;
}

*:focus {
    outline: none !important;
    box-shadow: none !important;
    background-color: #fff;
    border-color: #fff;
    webkit-box-shadow: none;
    box-shadow: none;
}

.navbar .container card {
    width: 100%;
}

.space {
    width: 15px;
}

.card {
    padding: 5px 0px;
    margin: 5px 0px;
    background-color: #FBFBFB;
    border-radius: 16px;
}

.pull-left>h4 {
    padding: 2px 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.85);
}

.navbar a {
    font-weight: 500;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.55);
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #fff;
}
.nav_select {
    color: rgba(0, 0, 0, 1);
    font-weight: 500;
    border-bottom: 1px solid #000;
}

.tt_sm {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.card-body .tt_err {
    color: #E32E27;
}

.card-body .tt_normal {
    color: #2D40E9;
}

.card-body .tt_advise {
    color: #F57B09;
}

.card-body .tt_nodetected {
    color: #F3B200;
}

.card-body .tt_consult {
    color: #007BFF;
}

.card-header:hover{
    cursor: pointer;
}

.ver_line {
    margin: -1px 5px;
    display: inline-block;
    height: 13px;
    width: 2px;
    background-color: #D9D9D9;
}

.hor_line {
    display: inline-block;
    height: 1px;
    width: 100%;
    border-top: 1px solid #F1F4F9;
}

.text-left {
    font-size: 14px;
}

.btn_detail {
    cursor: pointer;
}

.detail_chart {
    width: 100%;
    display: block;
    margin-bottom: 15px;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #FFFFFF;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #FFFFFF;
    border-radius: 10px;
    background-color: #FFFFFF;
}

::-webkit-scrollbar-thumb {
    border-radius: 21px;
    -webkit-box-shadow: inset 0 0 6px #FFFFFF;
    background-color: #EBEAEA;
}

.btn_repiar {
    padding: 4px 24px;
    gap: 10px;
    height: 28px;
    background: #ECECEC;
    border-radius: 100px;
    font-size: 14px;
    color: #2FC29B;
    float: right;
}

.btn_repiar:hover {
    background: #ECECEC;
    color: #2FC29B;
}

.btn_repiar:active {
    background: #ECECEC;
    color: #2FC29B;
}

.img_load {
    width: 14px;
    height: 14px;
    margin-right: 5px;
}

.rotate {
    -webkit-animation: rotation 2s infinite linear;
    animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

@keyframes rotation {
    from {
        -ms-transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(359deg);
    }

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.icon_up {
    display: inline-block;
    width: 8px;
    height: 5px;
    background: url(../images/up.png) no-repeat center;
    background-size: contain;
}

.icon_down {
    display: inline-block;
    margin-left: 8px;
    width: 8px;
    height: 5px;
    background: url(../images/down.png) no-repeat center;
    background-size: contain;
}

.detection_icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: contain;
}

.icon_t00 {
    background: url(../images/t00.png) no-repeat center;
}

.icon_t01 {
    background: url(../images/t01.png) no-repeat center;
}

.icon_t02 {
    background: url(../images/t02.png) no-repeat center;
}

.icon_t03 {
    background: url(../images/t03.png) no-repeat center;
}

.icon_t04 {
    background: url(../images/t04.png) no-repeat center;
}

.icon_t05 {
    background: url(../images/t05.png) no-repeat center;
}

.icon_t06 {
    background: url(../images/t06.png) no-repeat center;
}

.icon_t16 {
    background: url(../images/t16.png) no-repeat center;
}

.icon_t17 {
    background: url(../images/t17.png) no-repeat center;
}

.icon_t20 {
    background: url(../images/t20.png) no-repeat center;
}

.icon_t21 {
    background: url(../images/t21.png) no-repeat center;
}

.icon_t0505 {
    background: url(../images/t0505.png) no-repeat center;
}

.icon_t0511 {
    background: url(../images/t0511.png) no-repeat center;
}

.icon_t0602 {
    background: url(../images/t0602.png) no-repeat center;
}

.icon_t0604 {
    background: url(../images/t0604.png) no-repeat center;
}

.icon_t2201 {
    background: url(../images/t2201.png) no-repeat center;
}

.icon_t2202 {
    background: url(../images/t2202.png) no-repeat center;
}

.icon_t2203 {
    background: url(../images/t2203.png) no-repeat center;
}

.icon_t2204 {
    background: url(../images/t2204.png) no-repeat center;
}

.icon_t2205 {
    background: url(../images/t2205.png) no-repeat center;
}

.icon_t2206 {
    background: url(../images/t2206.png) no-repeat center;
}

.icon_t2207 {
    background: url(../images/t2207.png) no-repeat center;
}

.icon_t2208 {
    background: url(../images/t2208.png) no-repeat center;
}

.icon_t2209 {
    background: url(../images/t2209.png) no-repeat center;
}

.icon_t2210 {
    background: url(../images/t2210.png) no-repeat center;
}

.icon_t2211 {
    background: url(../images/t2211.png) no-repeat center;
}

.icon_t2212 {
    background: url(../images/t2212.png) no-repeat center;
}
.icon_t2213 {
    background: url(../images/t2213.png) no-repeat center;
}
.icon_t2214 {
    background: url(../images/t2214.png) no-repeat center;
}

.icon_t1001 {
    background: url(../images/t1001.png) no-repeat center;
}

.icon_t1002 {
    background: url(../images/t1002.png) no-repeat center;
}

.icon_t1003 {
    background: url(../images/t1003.png) no-repeat center;
}

.icon_t1004 {
    background: url(../images/t1004.png) no-repeat center;
}

.icon_t1005 {
    background: url(../images/t1005.png) no-repeat center;
}

.icon_t1006 {
    background: url(../images/t1006.png) no-repeat center;
}

.icon_t1007 {
    background: url(../images/t1007.png) no-repeat center;
}

.icon_t1008 {
    background: url(../images/t1008.png) no-repeat center;
}

.icon_t1009 {
    background: url(../images/t1009.png) no-repeat center;
}

.icon_t1010 {
    background: url(../images/t1010.png) no-repeat center;
}

.icon_t1011 {
    background: url(../images/t1011.png) no-repeat center;
}

.icon_t1012 {
    background: url(../images/t1012.png) no-repeat center;
}

.icon_t1704 {
    background: url(../images/t1704.png) no-repeat center;
}

.icon_t2001 {
    background: url(../images/t2001.png) no-repeat center;
}

.icon_t2002 {
    background: url(../images/t2002.png) no-repeat center;
}

.icon_t2003 {
    background: url(../images/t2003.png) no-repeat center;
}

.icon_t2004 {
    background: url(../images/t2004.png) no-repeat center;
}

.icon_t2005 {
    background: url(../images/t2005.png) no-repeat center;
}

.icon_t2006 {
    background: url(../images/t2006.png) no-repeat center;
}

.icon_t2007 {
    background: url(../images/t2007.png) no-repeat center;
}

.icon_t2008 {
    background: url(../images/t2008.png) no-repeat center;
}

.icon_t2009 {
    background: url(../images/t2009.png) no-repeat center;
}

.icon_t2010 {
    background: url(../images/t2010.png) no-repeat center;
}

.icon_t2011 {
    background: url(../images/t2011.png) no-repeat center;
}

.icon_t2012 {
    background: url(../images/t2012.png) no-repeat center;
}

.icon_t2013 {
    background: url(../images/t2013.png) no-repeat center;
}

.icon_t2014 {
    background: url(../images/t2014.png) no-repeat center;
}

.icon_t2015 {
    background: url(../images/t2015.png) no-repeat center;
}

.icon_t2016 {
    background: url(../images/t2016.png) no-repeat center;
}

.icon_t2017 {
    background: url(../images/t2017.png) no-repeat center;
}

.icon_t2018 {
    background: url(../images/t2018.png) no-repeat center;
}

.exptable {
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-style: solid;
}

.exptable tr th {
    border-style: solid;
    border-color:#000;
    border-width: 1px 1px 1px 0px;
    background-color: rgba(204, 204, 204, 0.5);
    text-align: center;
}

.exptable tr td {
    border-style: solid;
    border-width: 0px 1px 1px 0px;
    border-color: rgba(204, 204, 204, 1);
    text-align: center;
}


.g2-tooltip {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 3px;
    color: rgb(87, 87, 87);
    font-size: 12px;
    line-height: 20px;
    padding: 10px 10px 6px 10px;
    box-shadow: 0px 0px 10px #aeaeae;
}

.g2-tooltip-title {
    margin-bottom: 4px;
    color: rgba(0, 0, 0, 0.6);
    line-height: 20px;
    font-size: 15px;
}

.g2-tooltip-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.g2-tooltip-value {
    margin-top: 1px;
    margin-left: 5px;
    line-height: 15px;
}

.g2-tooltip-tail {
    background-color: rgba(42, 209, 129, 0.3);
    color: #909090;
    font-size: 12px;
    border-radius: 5px;
    margin: 0px;
    min-height: 30px;
    padding-top: 5px;
    list-style-type: none;
    text-align: center;
    cursor: pointer;
}

.g2-tooltip-wind {
    margin: 8px 12px 12px 0px;
    font-size: 12px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.custom-tooltip {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.96);
    color: #646464;
    width: auto;
    height: auto;
    border-radius: 3px;
    font-size: 12px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 10px #aeaeae;
}

.custom-tooltip-title {
    margin: 12px 12px 0 12px;
    padding-bottom: 8px;
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #e9e9e9;
}

.custom-tooltip-value {
    margin: 0px 12px 0 12px;
    padding-bottom: 8px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #e9e9e9
}

.custom-tooltip-temp {
    width: 100%;
    text-align: left;
    position: relative;
    color: rgba(0, 0, 0, 0.85)
}

.custom-tooltip-wind {
    margin: 8px 12px 12px 12px;
    font-size: 12px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.5)
}

.returnicon {
    display: inline-block;
    width: 25px;
    height: 15px;
    background-image: url(../images/return.ico);
    background-position: center center;
    background-repeat: no-repeat;
}

.questionnaire {
    z-index: 9999;
    position: fixed ! important;
    right: 20px;
    bottom: 20px;
    width: 70px;
    height: 70px;
    background-image: url(../questionnaire.png);
}

.questionnaire:hover {
    z-index: 9999;
    position: fixed ! important;
    right: 20px;
    bottom: 20px;
    width: 70px;
    height: 70px;
    background-image: url(../questionnaire_hover.png);
}

.questionnaire:active {
    z-index: 9999;
    position: fixed ! important;
    right: 20px;
    bottom: 20px;
    width: 70px;
    height: 70px;
    background-image: url(../questionnaire_disable.png);
}

.fault_resolution {
    box-sizing: border-box;
    padding: 10px 12px 10px 24px;
    border: 1px solid #F1F4F9;
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.12);
    border-radius: 48px;
    margin-bottom: 15px;
}

.newnps-item {
    margin: 0 3px;
    height: 30px;
    min-width: 80px;
    text-align: center;
    list-style-type: none;
    display: inline-block;
    border: 1px solid #666666;
    border-radius: 15px;
    padding: 3px 5px;
}

.newnps-item-clicked {
    border: 1px solid #2FC29B;
    background-color: #EAF9F5;
}

.newnps-text {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
}

.newnps-item>i {
    font-size: 12px;
}

.btnrecord {
	color:rgba(0,0,0,0.5);
	font-size: 16px;
	display: inline-block;
	cursor:pointer;
    vertical-align: middle;
}

.no_content {
    text-align: center;
    float: no;
    display: block;
    height: 220px;
}

.no_content_text {
    text-align: center;
    color: rgba(0, 0, 0, 0.3);
}

.s_page_title {
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 13px;
}

.page-header-ex {
    border-bottom: 0px;
    margin-left: 25px;
    margin-bottom: 0px;
}

.s_title_1 {
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    margin-bottom: 3px;
}

.s_title_2 {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.85);
}

.s_title_3 {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.55);
}

.s_title_err {
    font-size: 12px;
    color: #E32E27;
}

#btn_back {
    font-weight: 400;
    font-size: 14px;
    color: #666666;
    color: rgba(0, 0, 0, 0.3);
    border: 0px;
    background-color: #fff;
    padding-left: 0px;
    padding-right: 12px;
}

#btn_back:hover {
    color: rgba(0, 0, 0, 0.3);
    cursor: url("../images/titlecursor.png");
}

#t2t_detail {
    font-weight: 400;
    font-size: 14px;
    color: #666666;
    margin: 0px 10px 0px;
}

.under_line {
    border-bottom: 1px solid #F3F6FA;
}

.nav_content{
    padding-top:9px;
    padding-bottom: 9px;
}

.phone_info {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.85);
    border-bottom: 1px solid #F3F6FA;
    padding-bottom: 20px;
}

.icon_smile{
    display: inline-block;
    background-image: url(../images/smile_grey.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    width:22px;
    height:22px;
    margin-left: 5px;
}

.icon_smile-clicked {
    display: inline-block;
    background-image: url(../images/smile.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    width:22px;
    height:22px;
}

.icon_cry{
    display: inline-block;
    background-image: url(../images/cry_grey.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    width:22px;
    height:22px;
    margin-left: 5px;
}

.icon_cry-clicked{
    display: inline-block;
    background-image: url(../images/cry.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    width:22px;
    height:22px;
}